body {
    background-color: #fafad2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.capitulo-principal {
    color:#800000;
    background-color: #daa520;
    padding: 15px;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.capitulo-secundario {
    color: #8b0000;
    padding: 15px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.linkPagina {
    text-align: right;
}

/* :hover .capitulo-principal {
    color: black;
    background-color: brown;
}

:hover .capitulo-secundario {
    color: aqua;
    background-color: blueviolet;
} */


#divpai > div {
    /* vai pegar em todos os filhos */
    margin: 10px 0px;
}